@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --laapak-green: #00FF00;
  --laapak-green-dark: #00CC00;
  --laapak-green-light: #33FF33;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-montserrat);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat), system-ui, -apple-system, sans-serif;
}
